<!doctype html>
<html lang="en">
  <head>
  	<title>Sidebar 05</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
		
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
   
	<!--
	
	<nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark" style="margin:0px 0;">
        <a class="navbar-brand" href="javascript:void(0)">Logo</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navb">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navb">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="javascript:void(0)">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="javascript:void(0)">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="javascript:void(0)">Disabled</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Login">
            <input class="form-control mr-sm-2" type="text" placeholder="Senha">
            <button class="btn btn-success my-2 my-sm-0" type="button">Login</button>
          </form>
        </div>
	  </nav>
	-->

      <div style="padding-top: 0rem;">
		<div class="wrapper d-flex align-items-stretch" style="background: #364250;background: -moz-linear-gradient(left, #364250 0%, #4a5d6e 52%, #678297 100%);background: -webkit-linear-gradient(left, #364250 0%,#4a5d6e 52%,#678297 100%);background: #1a1a1a;filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#364250', endColorstr='#678297',GradientType=1 );">
			<nav id="sidebar">
				<div class="custom-menu">
					<button type="button" id="sidebarCollapse" class="btn btn-primary">
	          <i class="fa fa-bars"></i>
	          <span class="sr-only">Toggle Menu</span>
	        </button>
        </div>
				<div class="p-4">
					<h1 style="margin-left: 3.5rem;width: 13.5rem;margin: 0rem;border-radius: 0px 0px 60px 60px;background-color: #595959;padding-top: 2rem;margin-top: -2rem;height: 7.5rem;"><a href="index.html" class="logo" style="padding-right: 0;margin-right: 0;border-right-width: 0;border-right-style: solid;padding-left: 3rem;">Portfolic <span style="padding-left: 3rem;">Portfolio Agency</span></a></h1>				  
					<div style="width: 14.5rem;margin: 1rem;border-radius: 60px;color: black;height: 18rem;margin-left: 0rem;background: #e88700;background: -moz-linear-gradient(left, #e88700 0%, #b50ea7 100%);background: -webkit-linear-gradient(left, #e88700 0%,#b50ea7 100%);background: linear-gradient(to right, #e88700 0%,#ff0787 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e88700', endColorstr='#b50ea7',GradientType=1 );/*! font-size: 8rem; */" googl="true">
						<div style="width: 14.5rem;margin: 1rem;margin-left: 1rem;border-radius: 60px;background-color: #fff;color: black;height: 15rem;margin-left: 0rem;">
<span class="fa fa-user mr-3" style="font-size: 8rem;margin-left: 4rem;"></span>
<div style="margin-left: 3rem;font-size: 17px;font-weight: bold;">{{thing_to_say}}</div>
						<div style="margin-left: 4rem;color: #fe5268;font-weight: bold;font-size: 17px;"><span class="fa fa-star mr-3"></span>549 moedas</div>
						<div style="margin-left: 5rem;color: #626262;font-size: 11px;">Acessar perfil</div>
            </div>
	<div style="margin-left: 4rem;font-weight: bold;color: white;"><span class="fa fa-home mr-3"></span>Loja</div>
						</div>


		<ul class="list-unstyled components mb-5" style="font-weight: bold;">
			<li class="active" style="border-radius: 60px;background-color: white;color: black;">
	            <a href="#" style="margin-left: 1rem;"><span class="fa fa-home mr-3"></span> Home</a>
	          </li>
	          <li>
	              <a href="#"><span class="fa fa-user mr-3"></span> About</a>
	          </li>
	          <li>
              <a href="#"><span class="fa fa-briefcase mr-3"></span> Works</a>
	          </li>
	          <li>
              <a href="#"><span class="fa fa-sticky-note mr-3"></span> Blog</a>
	          </li>
	          <li>
              <a href="#"><span class="fa fa-suitcase mr-3"></span> Gallery</a>
	          </li>
	          <li>
              <a href="#"><span class="fa fa-cogs mr-3"></span> Services</a>
	          </li>
	          <li>
              <a href="#"><span class="fa fa-paper-plane mr-3"></span> Contacts</a>
	          </li>
	        </ul>

	

	        <div class="footer">
	        	<p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
						  Company &copy;<script>document.write(new Date().getFullYear());</script> </p>
	        </div>

	      </div>
    	</nav>
        
        <!-- Page Content  -->
		<div id="content" class="p-4 p-md-5 pt-5" googl="true" style="width: 86.5rem;margin: 35px;border-radius: 60px;/*! border: 15px solid green; */background-color: white;">
			<h2 class="mb-4" style="border-radius: 60px;/*! background-color: red; */color: black;height: 60px;border-style: solid;border-color: #eaeaea;border-width: 1px;padding-top: 7px;">Conhecimento<span style="float: right;width: 95px;padding: 0;margin: 0;border-radius: 60px;background: linear-gradient(to right, #e88700 0%,#ff0787 100%);height: 47px;margin-right: 31px;color: white;font-size: 14px;font-weight: bold;">

				<div="" class="fa fa-plus-circle mr-3" style="padding-top: 0px;margin-top: 15px;margin-left: 19px;"> Criar
			   
			   </div=""></span></h2>
			<h1>Olá!</h1>
      </div>
		</div>

	<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/popper.js') }}"></script>
	<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/main.js') }}"></script>
</div>  
</body>
</html>